.ShoppingList h1 {
  text-align: center;
  width: auto;
}

.Flex {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: center;
}

.Flex div {
  margin-left: 20px;
}

